<p>
  There is nothing either good or bad but <%= noun %> makes it so.
</p>

<p>
  Ruby version <%= RUBY_VERSION %>
</p>

<p>
  Path Info <%= env["PATH_INFO"] %>
</p>

<p>
  User Agent <%= env["HTTP_USER_AGENT"] %>
</p>
